{% extends 'base.html.twig' %}

{% block title %}Ajouter une Module{% endblock %}

{% block body %}
<div class="container">
    {% if edit %}
        <h1>Modifier une Module</h1>
    {%else%}
     <h1>Ajouter un module</h1>
    {% endif %}

    {{form(formModule)}}
    
</div>
{% endblock %}
